# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/meqjn/yoctoproject/meta-loongarch-oe \
  /home/meqjn/yoctoproject/poky-kirkstone/meta \
  /home/meqjn/yoctoproject/meta-openembedded-kirkstone/meta-oe \
  /home/meqjn/yoctoproject/meta-openembedded-kirkstone/meta-python \
  /home/meqjn/yoctoproject/meta-openembedded-kirkstone/meta-networking \
  /home/meqjn/yoctoproject/meta-openembedded-kirkstone/meta-filesystems \
  "
